body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.login-signup-header {
  font-weight: 600;
  font-size: 30px;
  color: #ef7917;
}
.login-form {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 50px auto;
  border-radius: 6px;
}
.field {
  width: 100%;
}
.details {
  font-weight: 600;
  font-size: 20px;
  color: black;
}
.field input {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
}
.field input:focus {
  outline: none;
}
.field button {
  width: 100%;
  margin-top: 20px;
  background: #ef7917;
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  padding: 9px;
  border: none;
  outline: none;
}
.field button:hover {
  cursor: pointer;
}
.field button:disabled {
  cursor: not-allowed;
}
/*Song-css*/
.songbox {
  width: 90vw;
  margin: 10px;
  display: flex;
}
.video-left {
  width: 50vw;
  margin: 1px;
}
.video-right {
  margin-top: 200px;
  margin-left: 20px;
  width: 35vw;
}
.video-play {
  margin: 5px;
}
.text-styling {
  font-weight: 600;
  font-size: 30px;
  color: black;
}
